@import url(/reset.css);
.body {
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 160px;
  width: 100%;
  background-color: #9ACD32;
  padding: 16px;
}
.frame__wrapper {
  display: flex;
  flex-grow: 1;
}
.frame__article {
  height: 100%;
  width: 100%;
  padding: 16px;
}
.frame__aside {
  width: 240px;
  background-color: #F5F5DC;
  padding: 16px;
  height: 100%;
}
.frame__nav {
  width: 240px;
  background-color: #D7E8D4;
  padding: 16px;
  height: 100%;
}
.footer {
  height: 160px;
  width: 100%;
  background-color: #9ACD32;
  bottom: 160px;
  padding: 16px;
}
